@page
@model ccse_cw1.Pages.DashboardModel
@{
}

<h2 class="text-center">Welcome to your account</h2>

<div>
    First Name: @Model.appUser?.FirstName
</div>
<div>
    Last Name: @Model.appUser?.LastName
</div>
<div>
    Email: @Model.appUser?.Email
</div>
<div>
    Phone: @Model.appUser?.PhoneNumber
</div>
<div>
    Customer Number: @Model.appUser?.CustomerNo
</div>
<div>
   Passport Number: @Model.appUser?.PassportNo
</div>
<div>
    Address: @Model.appUser?.Address
</div>
<div>
    Created At: @Model.appUser?.RegistrationDate.ToString("MM/dd/yyyy")
</div>